body {
    background-image: url('img/Unsplash/GenericBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.emplacement {
    min-width: 250px;
    display: inline-block;
    justify-content: center;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: top;
}

.bloc {
    border: 2px solid rgb(100, 100, 100);
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 20px;
    width: 260px;
    height: 65px;
    vertical-align: top;
}

.section {
    width: 50%;
    margin: auto;
    border: gray 2px solid;
    background-color: rgba(0, 118, 220, 0.1);
    display: flex;
    justify-content: center;
}

p,
h1,
h2,
h3 {
    color: wheat;
}

.drag {
    /*border: 2px green solid;*/
}

input[type=number] {
    text-align: right;
    width: 38px;
    background-color: rgba(0, 0, 0, 0);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.action {
    border: 2px solid rgb(30, 30, 30);
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(0, 118, 255);
    width: fit-content;
}

.delete {
    position: relative;
    margin-top: 20px;
    width: auto;
    height: 30px;
    opacity: 0.2;
    float: right;
}

.delete:hover {
    margin-top: 20px;
    width: auto;
    height: 30px;
    opacity: 0.8;
    float: right;
}

#origin {
    position: fixed;
}

#trame {
    margin-left: 270px;
}