.main {
    display: flex;
    justify-content: center;
}

.header {
    overflow: hidden;
}

.underlineDiv {
    display: flex;
    justify-content: center;
    transform: translateY(-15px)
}

.upSection {
    overflow: auto;
}

.downSection {
    overflow: auto;
    display: flex;
    justify-content: center;
}

.contactUs {
    display: flex;
    justify-content: center;
}

.contactUsTxt {
    font-size: medium;
    padding: 15px
}

body {
    background-image: url('img/Unsplash/Dark20_joel-filipe-QwoNAhbmLLo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    padding: 20px;
    text-align: justify;
}

.underline {
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: 1.5px;
    width: 180px;
}

.sectioncontent {
    float: left;
    width: 100%;
    padding: 0 20px;
    overflow: hidden;
    color: black;
    text-align: left;
    background-color: white;
    font-weight: 300;
    border-radius: 45px;
    border-color: transparent;
}

.spacelabsmainlogo {
    width: 33%;
    max-width: 600px;
    float: left;
    text-align: center;
    color: white;
    padding: 35px;
}

.big {
    float: left;
    width: 60%;
    max-width: 900px;
    min-width: 300px;
    padding: 10px 40px;
    margin-top: 7px;
    background: rgba(20, 20, 20, 0.8);
    border-radius: 45px;
    border-color: transparent;
}

.section {
    padding: 10px 40px 0 40px;
}

img {
    border-radius: 15px;
}

.contentimg {
    transform: translateY(10px);
    padding: 10px;
    width: 35%;
}

    .contentimg.spacelabsLogo {
        content: url("img/SpaceLabsHQ/SpaceLabs-FondSombre.png");
        width: 230px;
        height: 135px;
    }

    .contentimg.itiiImg {
        content: url("img/SpaceLabs/IMG_20210602_092055.jpg");
    }

    .contentimg.robotImg {
        content: url("img/Unsplash/marilia-castelli-l74VaCZon7I-unsplash.jpg");
    }

    .contentimg.brasRobot {
        content: url("img/Unsplash/thisisengineering-raeng-H4ClLKv3pqw-unsplash.jpg");
    }

h1 {
    font-size: 29px;
}

strong {
    color: rgba(0, 118, 255);
    font-weight: normal;
    font-size: 29px;
}

.socialsdiv {
    width: 33%;
    float: left;
}

.socialsimg.instagramImg {
    content: url("img/Socials/Instagram.png");
}

.socialsimg.linkedinImg {
    content: url("img/Socials/Linkedin.png");
}

.socialsimg.twitterImg {
    content: url("img/Socials/Twitter.png");
}

.socialsimg.youtubeImg {
    content: url("img/Socials/Youtube.png");
}

.socialdivlayout {
    display: flex;
    justify-content: center;
    transform: translateY(110px);
}

.right {
    float: left;
    width: 40%;
    max-width: 1300px;
    min-width: 300px;
    padding: 10px 30px;
    margin-top: 7px;
    background: rgba(20, 20, 20, 0.8);
    border-radius: 45px;
    border-color: transparent;
    transform: translateX(40px);
}

.phrase {
    width: 33%;
    float: left;
    text-align: center;
    color: white;
    font-weight: normal;
    transform: translateY(60px);
}

    .phrase.titleSentence {
        font-weight: lighter;
    }

@media only screen and (max-width:990px) {
    /* For tablets: */
    .left {
        width: 100%;
    }

    * {
        font-size: 17px;
    }

    .right {
        width: 100%;
        transform: translateX(0px);
    }

    .phrase,
    .join,
    .big,
    .socialsdiv {
        width: 100%;
    }

    .spacelabsmainlogo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .phrase {
        transform: translateY(-20px);
    }

    .section {
        padding: 0 20px;
    }

    .socialdivlayout {
        display: flex;
        justify-content: center;
        transform: translateY(0);
    }

    .contentimg {
        width: 50%;
        display: flex;
        justify-content: center;
        transform: translateY(0);
    }
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu,
    .main,
    .phrase,
    .title,
    .spacelabsmainlogo,
    .join,
    .big,
    .socialsdiv {
        width: 100%;
    }

    * {
        font-size: 17px;
    }

    .right {
        width: 100%;
    }

    .phrase {
        padding: 20px;
    }

    .section {
        padding: 0 20px;
    }

    .socialdivlayout {
        display: flex;
        justify-content: center;
        transform: translateY(0);
    }
}
