* {
    box-sizing: border-box;
    font-family: Dubai, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

body {
    background-color: rgba(0, 0, 0, 0.9)
}

.title {
    color: blue;
    text-align: center;
    font-weight: normal;
}

.top_menu {
    /*border: solid white;*/
    display: flex;
    justify-content: space-around;
}

.top_menu img {
    width: 50px;
    height: 50px;
}

.bottom_menu {
    /*border: solid red;*/
    display: flex;
    justify-content: space-around;
}

.content {
    /*border : solid orange;*/
    display: flex;
    justify-content: space-around;
}

.content img {
    margin-left: 12px;
    width: 40%
}

.formation img {
    display: flex;
    width: 90%
}

.etudiants {
    border : solid rgba(0, 0, 0, 0);
    border-bottom-color: white;
}

.texte {
    /*border : solid brown;*/
    margin-left: 10px;
    color: white;
    width: 60%;
}

.texte .name {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin-top: 5px;
}

p {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 20px;
    color: white;
}

#osm-map {
    height: 320px;
    border: 1px black solid;
    display: none;
}

button,
input[type="submit"] {
    cursor: pointer;
    color: white;
    background: rgba(0, 118, 255);
    text-align: center;
    border-radius: 85px;
    border-color: transparent;
    margin-bottom: 30px;
    min-width: 110px;
    padding: 5px;
}

button:hover {
    transition: 0.5s;
    background: rgba(0, 58, 155);
}