	body {
	    background-image: url('img/GenericBackground.jpg');
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	
	.Logo {
	    display: flex;
	    justify-content: center;
	    width: 100%;
	    text-align: center;
	}
	
	.Flow {
	    overflow: auto;
	    width: auto;
	    text-align: center;
	}
	
	.Tocent {
	    width: 100%;
	    text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.Tocent img {
		width: 40%;
		max-width: 300px;
		height: 40%;
	}
	
	.PERFNI {
	    float: center;
	    max-width: 700px;
	    font-weight: lighter;
	    padding: 0 20px;
	    color: white;
	    text-align: center;
	    background-color: transparent;
	    border-radius: 45px;
	    border-color: transparent;
	    font-family: 'Helvetica';
	}
	
	am {
	    color: rgba(105, 50, 168);
	    font-style: normal;
	    font-weight: bold;
	    font-size: inherit;
	}
	
	.pdfimg {
	    height: 40px;
	    align-items: center;
	    vertical-align: middle;
	}
	
	.texte .pdfimg {
	    width: 10%;
		height : 25px;
	    align-items: center;
	    vertical-align: middle;
	    display: inline;
	    margin-left: 0px;
	    margin-bottom: 5px;
	}
	
	.bouton {
	    padding: 5px;
	    border: 8px solid rgba(0, 0, 0, 0.1);
	    border-radius: 5px;
	    background-color: rgb(100, 20, 140);
	    align-items: center;
	    display: flex;
	    margin: auto;
	}
	
	.bouton:hover {
	    background-color: rgb(72, 11, 102);
	}

	.contacts {
		border-style:solid;
		border-color:rgb(100, 20, 140);
		color: white;
		text-align: center;
	}

	.main-footer {
		max-width: 100%;
		color: #d8d8d8;
		background: #2b2b2b;
		overflow: hidden;
		font-size: 12px;
		margin: 0px;
	}

	.main-footer .finish {
		text-align: center;
    	padding: 10px 0;
	}

	.JPOlogo {
		width: 10%;
		max-width: 200px;
		height: 10%;
	}