	.Logo {
	    display: flex;
	    justify-content: center;
	    width: 100%;
	    text-align: center;
	}
	
	.Flow {
	    overflow: auto;
	    width: auto;
	    text-align: center;
	}
	
	.Tocent {
	    width: 100%;
	    text-align: center;
	    display: flex;
	    align-items: center;
	    justify-content: space-around;
	}
	
	.Tocent img {
	    height: 40%;
	}
	
	.PERFNI {
	    float: center;
	    max-width: 700px;
	    font-weight: lighter;
	    padding: 0 20px;
	    color: white;
	    text-align: center;
	    background-color: transparent;
	    border-radius: 45px;
	    border-color: transparent;
	    font-family: 'Helvetica';
	}
	
	am {
	    color: rgba(105, 50, 168);
	    font-style: normal;
	    font-weight: bold;
	    font-size: inherit;
	}
	
	.pdfimg {
	    height: 40px;
	    align-items: center;
	    vertical-align: middle;
	}
	
	.texte .pdfimg {
	    width: 10%;
	    height: 25px;
	    align-items: center;
	    vertical-align: middle;
	    display: inline;
	    margin-left: 0px;
	    margin-bottom: 5px;
	}
	
	.bouton {
	    padding: 5px;
	    border: 8px solid rgba(0, 0, 0, 0.1);
	    border-radius: 5px;
	    background-color: rgb(100, 20, 140);
	    align-items: center;
	    display: flex;
	    margin: auto;
	}
	
	.bouton:hover {
	    background-color: rgb(72, 11, 102);
	}
	
	.contacts {
	    border-style: solid;
	    border-color: rgb(100, 20, 140);
	    color: white;
	    text-align: center;
	    margin: 15px;
	    font-size: 15px;
	    margin-bottom: 30px;
	}
	
	.main-footer {
	    max-width: 100%;
	    color: #d8d8d8;
	    overflow: hidden;
	    text-align: center;
	    align-items: center;
	}
	
	.fin {
	    display: block;
	    margin-block-start: 0em;
	    margin-block-end: 0em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	    font-size: 10px;
	}
	
	.JPOlogo {
	    width: 15%;
	    max-width: 200px;
	    height: 15%;
	    max-height: 40px;
	    vertical-align: middle;
	    display: inline;
	}